.main-site-content {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 8px 24px 0;
}

.back-link {
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 40px;
    padding: 12px;
}

.content-header {
    align-items: center;
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
}

.toggle-text {
    font-size: 12px;
    margin-left: auto;
    margin-right: 18px;
}

.toggle {
    margin-right: 18px;
}