.article-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.audio-content {
    width: 75vw;
}

.date-time {
    margin-bottom: 12px;
}

.divider {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    width: 95%;
}

.rendered-html h3 {
    text-align: center;
}

.video-content,
.youtube-content {
    width: 80%;
}

.youtube-content {
    padding-top: 40%;
}