.font-picker {
    box-sizing: border-box;
    display: inline-flex;
    flex: none;
    font-size: .83em;
    overflow-x: auto;
    padding: .5em 1em;
    position: relative;
    text-transform: capitalize;
}

.font-picker-item {
    flex: none;
}