.content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.main-site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.main-site-listing {
    padding: 24px;
}

.nav-bar {
    flex: 0 0 80px;
}