.content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.main-site {
    display: grid;
    height: 100vh;
    grid-template-rows: 0fr 1fr;
    overflow: hidden;
}

.main-site-listing {
    padding: 24px;
}

.nav-bar {
    height: 80px;
}