.content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.main-site {
    display: grid;
    font-size: 16px;
    height: 100vh;
    grid-template-rows: 0fr 1fr;
    overflow: hidden;
}

.font-picker-spinner {
    right: 8px;
    position: absolute;
    top: 0;
}

@media (max-width: 600px) {
    .main-site {
        font-size: 12px;
    }
}

.main-site-listing {
    padding: 24px;
}

.nav-bar {
    height: 80px;
}