.article-type {
    float: right;
    font-size: .86rem;
}

.entry {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px;
    cursor: pointer;
}

.entry + .entry {
    margin-top: 8px;
}

.entry-listing {
    display: flex;
    flex-direction: column;
}