.link {
    color: white;
    padding: 4px;
    text-decoration: none;
    white-space: nowrap;
}

.link:hover:not(.social),
.link.selected {
    background-color: white;
    color: black;
}

.link:not(:last-of-type) {
    margin-right: 8px;
}

.link.youtube {
    margin-left: auto;
}

.link.youtube img {
    height: 28px;
}

.nav-bar {
    background: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 0 24px;
}

.links.categories {
    overflow-x: auto;
}
