.link {
    color: white;
    padding: 4px;
    text-decoration: none;
}

.link:hover:not(.social),
.link.selected {
    background-color: white;
    color: black;
}

.link:not(:last-of-type) {
    margin-right: 8px;
}

.link.youtube {
    align-self: flex-start;
    margin-left: auto;
}

.link.youtube img {
    height: 28px;
}

.nav-bar {
    align-items: flex-end;
    background: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 8px 24px 0;
}