.switch {
    align-items: center;
    background: white;
    border-color: black;
    border-radius: 24px;
    border-style: solid;
    display: inline-flex;
    height: 14px;
    position: relative;
    transition: 0.333s filter;
    width: 35px;
}

.switchKnob {
    background: white;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    box-sizing: border-box;
    height: 21px;
    min-width: 21px;
    transform: translateX(-21px);
    transition: transform 0.333s;
}

.switchActive {
    background: black;
}

@media (prefers-color-scheme: dark) {
    .switch {
        background: black;
        border-color: white;
    }

    .switchKnob {
        background: black;
        border-color: white;
    }

    .switchActive {
        background: white;
    }
}

.switchActive .switchKnob {
    background: black;
    transform: translateX(14px);
}